header {
    /* background-color: #444; */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding-left: 1230px;
}

nav li {
    margin-right: 20px;
}

.navbar-icon {
    position: relative;
}

.navbar-icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Dropdown styles */
.account-dropdown {
    position: relative;
    cursor: pointer;
    list-style: none; /* Remove list bullet point */
    margin: 0;
    padding: 0;
}

.account-dropdown .account-icon img {
    width: 24px;
    height: 24px;
    max-width: 100%;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

   

.account-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    /* padding: 10px; */
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

.dropdown-content a:hover {
    /* background-color: #f0f0f0; */
    background-color: #007BFF;
}